body{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../img/animation1.png) no-repeat center;
    background-size: cover;
}